
# General 
DEBUG=False
ENVIRONMENT=LOCALDEV
APP_TITLE="CUT Prototype - WIND API"
APP_DESCRIPTION="API to calculate wind comfort."
APP_VERSION="0.1.0"

# INFRARED
INFRARED_URL=
INFRARED_USERNAME=
INFRARED_PASSWORD=

# Redis 
REDIS_HOST=redis-wind-api-v2
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD="localdev_redis_pass"
REDIS_SSL=false
REDIS_CACHE_TTL_DAYS=30

# Celery
CELERY_DEFAULT_QUEUE=wind


